  <%= render 'shared/navbar_fr' %>

<div class="row">
<% @pubs.each do |pub| %>
<div class="well col-md-offset-1 col-md-10">
<div class="row">
  <div class="">
  <div class="panel-heading  text-center">
     <h2> <%= pub.titre %> </h2>
     </div>
     <div class="col-md-4">
     <%= cl_image_tag pub.photo, class: 'img-responsive' %>
     </div>
     <div class="col-md-8">
     <h3> <%= pub.description %> </h3>
     <h3> lien: <a href=" <%= pub.url %>"> website</a> </h3>
  </div>
  </div>
 </div>
 </div>
<% end %>
</div>
