

<nav class="navbar navbar-default">

  <div class="container-fluid">
    <div class="navbar-inner" style="background-color: rgba(248, 248, 248,0.9) !important">
      <div class="row"   >
        <div class="col-sm-2">
          <%= link_to nl_home_path do %>
          <%= image_tag 'logo.png',  class:'img-fluid', height: '100px' %>
          <% end %>
        </div>

       <div class=" nav col-sm-2 dropdown">

        <button class="navbar-btn  dropdown-toggle" type="button" data-toggle="dropdown">

         <h5 class="text-center" syle= "color: #0070A5  !important;
         background-color: rgba(255,255,255, 0.7);"> Resalto asbl </h5></button>

         <ul class="nav dropdown-menu">
          <% if Vision.exists?(lang: 'nl') %>
          <li class="nav-pill">
            <%= link_to nl_visions_path do %>
            Doelen
            <% end %>
          </li>
          <% end %>
          <% if Valeur.exists?(lang: 'nl') %>
          <li class="nav-pill">
           <%= link_to nl_valeurs_path do %>
           Waarden
           <% end %>
         </li>
         <% end %>
          <% if Projet.exists?(lang: 'nl') %>
          <li class="nav-pill">
           <%= link_to nl_projets_path do %>
           Projecten
           <% end %>
         </li>
          <% end %>
          <% if Historique.exists?(lang: 'nl') %>
         <li class="nav-pill">
          <%= link_to nl_historiques_path do %>
          Geschiedenis
          <% end %>
        </li>
        <% end %>
          <% if Equipe.exists?(lang: 'nl') %>
        <li class="nav-pill">
          <%= link_to nl_equipes_path do %>
          Team
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>

        <div class="col-sm-2 nav dropdown">
         <button class="navbar-btn dropdown-toggle" type="button" data-toggle="dropdown">
           <h5 class="text-center"> Documenten </h5></button>
           <ul class="nav list-inline text-center dropdown-menu">
          <% if Publication.exists?(lang: 'nl') %>

            <li class="nav-pill" >
              <%= link_to nl_publications_path do %>
              Publicaties
              <% end %>
            </li>
              <% end %>
          <% if Outil.exists?(lang: 'nl') %>

            <li class="nav-pill" >
             <%= link_to nl_outils_path do %>
             Gereedschap
             <% end %>
           </li>

              <% end %>
          <% if Formulaire.exists?(lang: 'nl') %>
           <li class="nav-pill"  >
            <%= link_to nl_formulaires_path do %>
            Vormen
            <% end %>
          </li>

              <% end %>
          <% if Lien.exists?(lang: 'nl') %>
          <li class="nav-pill"  >
            <%= link_to nl_liens_path do %>
            Verbindingen
            <% end %>
          </li>
            <% end %>

        </ul>
      </div>

      <div class=" col-sm-2 nav   dropdown ">
        <button class="navbar-btn  dropdown-toggle" type="button" data-toggle="dropdown">
          <h5 class="text-center"> Partners </h5></button>
          <ul class="nav list-inline text-center dropdown-menu">
          <% if Operationnel.exists?(lang: 'nl') %>
            <li class="nav-pill">
              <%= link_to nl_operationnels_path do %>
              Operationnels
              <% end %>
            </li>
              <% end %>
          <% if Financier.exists?(lang: 'nl') %>

            <li class="nav-pill">
             <%= link_to nl_financiers_path do %>
             Financiële
             <% end %>
           </li>
           <% end %>
         </ul>
       </div>


    <div class=" nav col-sm-2 dropdown">
     <button class="navbar-btn  dropdown-toggle" type="button" data-toggle="dropdown">
       <h5 class="text-center"> Wij ondersteunen </h5> </button>
       <ul class="nav  dropdown-menu">
          <% if Don.exists?(lang: 'nl') %>

        <li class="nav-pill">
          <%= link_to nl_dons_path do %>
          Gifts & legaten
          <% end %>
        </li>
        <%end%>
        <% if Benevolat.exists?(lang: 'nl') %>

        <li class="nav-pill">
         <%= link_to nl_benevolats_path do %>
         Vrijwilliger
         <% end %>
       </li>
        <%end%>
        <% if Job.exists?(lang: 'nl') %>
       <li class="nav-pill">
         <%= link_to nl_jobs_path do %>
         Jobs
         <% end %>
       </li>
       <% end %>
     </ul>
   </div>

   <div class=" nav col-sm-2 dropdown">
    <button class="navbar-btn  dropdown-toggle" type="button" data-toggle="dropdown">
     <h5 class="text-center"> Media </h5></button>
     <ul class="nav dropdown-menu">
    <% if Album.exists?(lang: 'nl') %>

      <li class="nav-pill">
        <%= link_to nl_albums_path do %>
        Pics
        <% end %>
      </li>
     <%end%>
      <% if Video.exists?(lang: 'nl') %>

      <li class="nav-pill">
       <%= link_to nl_videos_path do %>
       Videos
       <% end %>
     </li>
     <% end %>
      <% if Presse.exists?(lang: 'nl') %>

     <li class="nav-pill">
       <%= link_to nl_presses_path do %>
       Afdruk
       <% end %>
     </li>
     <% end %>
   </ul>
  </div>


</div>
</div>
</div>
</nav>
